# Commands
#	BuildSection - the section with all build commands.  (1 only)
#	InstallSection - The section with all install directions (1 only)
#	Include "(file path | directory path)" "(copied file path) - include all files in that directory and copy to "copied file path"
#	Exclude "file | directory" - exclude all files under directory, or a specific file from the installer.
#	InstallDefaultDir - Defualt directory to install files into
#
#	**ALL PATHS MUST BE DOUBLE QUOTED**
#
# Variables
#  --NotUsed--$OS_ROOT  = drive that /Windows is installed on
#  $PROGRAM_FILES = (windows path)\Program Files
#  --NotUsed--$PROGRAM_FILES_x86 = (windows path)\Program Files (x86)
#  $INSTALLDIR = The installed root directory the program is installed into
#
BuildSection
 Include "C:\p4\dev\bro\bin" "$INSTALLDIR\"
 Exclude "C:\p4\dev\bro\bin\logs"
 Exclude "C:\p4\dev\bro\bin\Debug"
 Exclude "C:\p4\dev\bro\bin\Release"
 Exclude "C:\p4\dev\bro\bin\cache"

InstallSection
 InstallDefaultDir 	"$PROGRAM_FILES\Fulmination\Rifle"
 MakeDirectory 		"$INSTALLDIR\logs"
 MakeDirectory 		"$INSTALLDIR\cache"
